<div id="<%= dom_id bill %>">
  <p>
    <strong>Date:</strong>
    <%= bill.date %>
  </p>

  <p>
    <strong>Tipo ingreso:</strong>
    <%= bill.tipo_ingreso %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= bill.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bill.user_id %>
  </p>

</div>
