<div id="<%= dom_id deposit %>">
  <p>
    <strong>Date:</strong>
    <%= deposit.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= deposit.amount %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= deposit.comment %>
  </p>

  <p>
    <strong>Tipo ingreso:</strong>
    <%= deposit.tipo_ingreso %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= deposit.mes %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= deposit.ano %>
  </p>

  <p>
    <strong>User:</strong>
    <%= deposit.user_id %>
  </p>

  <p>
    <strong>Apartment:</strong>
    <%= deposit.apartment_id %>
  </p>

</div>
