<% content_for :title, "Direcciones" %>

<% if current_user.admin? %>
  <%= link_to "Registrar familia", 
      new_address_path, 
      class:"mb-3 col-6 col-sm-4 col-md-2 col-lg-2 fs-5 btn bg-info text-white", 
      data: { turbo: false } %>
<% end %>

<%= form_with url: results_addresses_path, method: :get, local: true, html: { id: "address_search_form" } do %>
  <div class="row ms-0 mt-1 mb-3 g-3 col-12 col-md-6 align-items-start border border-2 border-secondary-subtle rounded">

    <div class="col-auto">
      <%= label_tag :search, (@order == "description" ? "Buscar por dirección o nombre del socio(a)" : "Buscar por dirección o nombre del socio(a)") %>
      <%= text_field_tag :search, @search, class: "form-control mb-1 border border-2 border-secondary-subtle rounded" %>
    </div>

    <div class="col-auto">
      <%= submit_tag "Buscar", class: "my-4 btn btn-primary" %>
    </div>

    <div class="col-auto">
      <%= label_tag :order, "Ordenar por:" %><br>
      <div class="form-check form-check-inline">
        <%= radio_button_tag :order, "street", (@order != "description"), id: "order_by_street", class: "form-check-input  border border-2 border-secondary-subtle rounded" %>
        <%= label_tag :order_by_street, "Dirección", class: "form-check-label" %>
      </div>
      <div class="form-check form-check-inline">
        <%= radio_button_tag :order, "description", (@order == "description"), id: "order_by_description", class: "form-check-input  border border-2 border-secondary-subtle rounded" %>
        <%= label_tag :order_by_description, "Nombre", class: "form-check-label" %>
      </div>
    </div>



  </div>
<% end %>



